<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SnapMap</title>
    <link rel='shortcut icon' href='https://www.awicons.com/free-icons/download/system-icons/aquanox-icons-by-cyberchaos05/png/128/globe.png' type='image/x-icon'/>
    <link rel="stylesheet" href="./css/styles.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/map.js"></script>
  </head>

  <body data-ng-app="snapmap">


    <main data-ui-view></main>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ7Nt7IxKO7NuBrtq4F12FkJ7SKe8Ub9M&libraries=places"
        async defer></script>
  </body>

</html>
